[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
wheel = "*"
setuptools = "*"
tqdm = "*"
twine = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
